doctype html
html(lang="en")
  head
    title Correos Enviados
    include head
  body
    include navbar
    div.container-fluid.my-5
      div.row
        div.col-12.col-lg-1.mb-4
          h2.mb-3.mt-5
          div.btn-group-vertical
            a.btn.custom-btnRedac.btn-sm.mt-1(data-bs-toggle="modal", data-bs-target="#modalRedactar") Redactar
            a.btn.custom-btn.btn-lg.mt-5(href="inbox") Recibidos
            a.btn.custom-btn.btn-lg.mt-1(href="send") Enviados
            a.btn.custom-btn.btn-lg.mt-1(href="favorites") Favoritos
        div#modalRedactar.modal.fade
          div.modal-dialog
            div.modal-content
              div.modal-header
                h5.modal-title Redactar correo 
                button.btn-close(data-bs-dismiss="modal", id="CloseModal", aria-label="Close")
              div.modal-body
                form(action="/enviar-correo", method="post")
                  div.mb-3
                    label.form-label(for="recipient", id="desti-asun-men") Destinatario:
                    input.form-control(type="text", id="recipient", name="destinatario", placeholder="Ingrese el destinatario", required)
                  div.mb-3
                    label.form-label(for="subject", id="desti-asun-men") Asunto:
                    input.form-control(type="text", id="subject", name="asunto", placeholder="Ingrese el asunto", required)
                  div.mb-3
                    label.form-label(for="message", id="desti-asun-men") Mensaje:
                    textarea.form-control(id="message", name="mensaje", rows="5", placeholder="Ingrese el mensaje", required)
                  button.btn.btn-primary1.float-end(type="submit") Enviar
        div.col-12.col-lg-11.mt-5
          div.card
            div.card-body
              h2#titulos.card-title Correos Enviados
              hr
              div.card-text
                table.table.table-hover
                  thead
                    tr
                      th(scope="col") Para
                      th(scope="col") Asunto
                      th(scope="col") Fecha
                      th(scope="col") Hora
                  tbody
                    each correo in correos || []
                      tr
                        td= correo.destinatario
                        td= correo.asunto
                        td= correo.fecha
                        td= correo.hora
                        td(style="text-align: right;")
                          button.btn.btn-primary1.btn-sm.btn-animations(data-bs-toggle="modal", data-bs-target="#correoModal"+correo.id) Ver correo
                          div.modal.fade(id="correoModal"+correo.id)
                            .modal-dialog
                              .modal-content
                                .modal-header
                                  h5.modal-title.custom-font Ver correo
                                  button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                                .modal-body.text-left
                                  p.custom-font1 Destinatario: #{correo.destinatario}
                                  p.custom-font1 Asunto: #{correo.asunto}
                                  p.custom-font1 Fecha: #{correo.fecha} Hora: #{correo.hora}
                                  p.custom-font1 Contenido: #{correo.contenido}
                                .modal-footer.d-flex.justify-content-center
                                  div.text-center
                                    button.btn.btn-primary1.btn-animations(onclick="window.location.href='/send';") Volver
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
