doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Correos Enviados
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-sQ1lgxo6aEtw0q/GE6U86y6U5UP6ScNfz9ziFF+aOncrZrDw0YhO43GYeOyShmCTyPbMXCmBdQ9AYfyh+fdHdA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container-fluid
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        a.navbar-brand(href="/inbox") ANASHE MAIL MANAGER
        div.collapse.navbar-collapse.justify-content-end#navbarNav
          span.mx-3.text-secondary.dropdown
            span.ms-2 Andrés Briend
            i.material-icons.icon-spacing.ml-2.person-icon
            i.material-icons.align-middle.dropdown-toggle(data-bs-toggle="dropdown") person
            div.dropdown-menu.small-menu
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/changeuser';") Configuración
              div.dropdown-divider
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/contacts';") Contactos
              div.dropdown-divider
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/login';") Cerrar sesión
    div.container-fluid.my-5
      div.row
        div.col-12.col-lg-1.mb-4
          h2.mb-3.mt-5
          div.btn-group-vertical
            a.btn.custom-btnRedac.btn-sm.mt-1(data-bs-toggle="modal", data-bs-target="#modalRedactar") Redactar
            a.btn.custom-btn.btn-lg.mt-5(href="inbox") Recibidos
            a.btn.custom-btn.btn-lg.mt-1(href="send") Enviados
        div#modalRedactar.modal.fade
          div.modal-dialog
            div.modal-content
              div.modal-header
                h5.modal-title Redactar correo
                button.btn-close(data-bs-dismiss="modal", id="CloseModal", aria-label="Close")
              div.modal-body
                form(action="/enviar-correo", method="post")
                  div.mb-3
                    label.form-label(for="recipient", id="desti-asun-men") Destinatario:
                    input.form-control(type="text", id="recipient", name="destinatario", placeholder="Ingrese el destinatario", required)
                  div.mb-3
                    label.form-label(for="subject", id="desti-asun-men") Asunto:
                    input.form-control(type="text", id="subject", name="asunto", placeholder="Ingrese el asunto", required)
                  div.mb-3
                    label.form-label(for="message", id="desti-asun-men") Mensaje:
                    textarea.form-control(id="message", name="mensaje", rows="5", placeholder="Ingrese el mensaje", required)
                  button.btn.btn-primary1.float-end(type="submit") Enviar
        div.col-12.col-lg-11.mt-5
          div.card
            div.card-body
              h2#titulos.card-title Correos Enviados
              hr
              div.card-text
                table.table.table-hover
                  thead
                    tr
                      th(scope="col") Para
                      th(scope="col") Asunto
                      th(scope="col") Fecha
                      th(scope="col") Hora
                  tbody
                    each correo in correos || []
                      tr
                        td= correo.destinatario
                        td= correo.asunto
                        td= correo.fecha
                        td= correo.hora
                        td(style="text-align: right;")
                          button.btn.btn-primary1.btn-sm(data-bs-toggle="modal", data-bs-target="#correoModal"+correo.id) Ver correo
                          div.modal.fade(id="correoModal"+correo.id)
                            .modal-dialog
                              .modal-content
                                .modal-header
                                  h5.modal-title.custom-font Ver correo
                                  button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                                .modal-body.text-left
                                  p.custom-font1 Destinatario: #{correo.destinatario}
                                  p.custom-font1 Asunto: #{correo.asunto}
                                  p.custom-font1 Fecha: #{correo.fecha} Hora: #{correo.hora}
                                  p.custom-font1 Contenido: #{correo.contenido}
                                .modal-footer.d-flex.justify-content-center
                                  div.text-center
                                    button.btn.btn-primary1(onclick="window.location.href='/send';") Volver
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
